{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" type="image/png" href="{% static 'images/Logo_Three_square_gag.png' %}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Main.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'meme/main.css' %}">

      {% if title %}
        <title>ThreeSquare Gag - {{ title }}</title>
      {% else %}
        <title>ThreeSquareGag Meme Page</title>
      {% endif %}
  </head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
          <img src="{% static 'images/Logo_Three_square_gag.png' %}" width="40" height="30" class="d-inline-block align-top navbar-logo" alt="">ThreeSquareGag
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">New</a>
                  <a class="dropdown-item" href="#">Nerd</a>
                  <a class="dropdown-item" href="#">Quotes</a>
                  <a class="dropdown-item" href="#">Programming</a>
                  <a class="dropdown-item" href="#">Daily struggle</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Meme Explorer <span class="sr-only">(current)</span></a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item nav-padding">
                  <a href="{% url 'upload_meme' %}"><button type="button" class="btn btn-outline-light">Upload Meme</button></a>
              </li>
              {% else %}
                <!-- Do not show any upload button if the user is not authenticated -->
              {% endif %}
            </ul>
            <!--right align -->
            <ul class="nav-item navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><img class="rounded-circle" src="{{ user.profile.image.url }}" width="25px" height="25px"></a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row test">
        <div class="col-md-8">

            <!-- Main content block of base.html -->

            {% block title %} {% endblock %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block mainContent %} {% endblock %}
            {% block searchContent %} {% endblock %}
            {% block searchContent2 %} {% endblock %}

            {%block content2%} {% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Popular Memes</h3>
            <p class='text-muted'>Here you can find the most popular memes.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Awesome</li>
                <li class="list-group-item list-group-item-light">GIF</li>
                <li class="list-group-item list-group-item-light">Dirty Memes</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>