<!DOCTYPE html>
<html>
<head>
    <title>ThreeSquareGag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

      <!-- Required meta tags
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 -->
      <!-- Bootstrap CSS
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 -->
      <title>Hello Meme People</title>
  </head>
<body>
    {% include 'final_nav_bar.html' %}
    <br>
    <main role="main" class="container">
        {% block mainContent %}
        {% endblock %}
        {%block content2%}

        {% endblock %}
    </div>
        
    {% block title %}

        Block title - will be replaced

    {% endblock %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message}}
            </div>
        {% endfor %}
    {% endif %}

    {% block mainContent %}

        Block content - will be replaced

    {% endblock %}

    {%block content2%}

        Block content - will be replaced

    {% endblock %}
</body>
</html>