<!DOCTYPE html>
<html lang="en">
<head>
    <title>Navigation bar</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <! ––making it usable fo phone -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/products" class="navbar-brand">ThreeSquareGag</a>
            </div>
            <!-- Menu Items -->
            <! ––appropriation to window -->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Welcome">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="/profile">Register</a></li>
                    <li><a href="/memes/upload">Upload</a></li>

                    <li class="active"><a href="/products">Home</a></li>

                    <!-- drop down menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New</a></li>
                            <li><a href="/category/nerd">Nerd</a></li>
                            <li><a href="/category/quotes">Quotes</a></li>
                            <li><a href="/category/programming">Programming</a></li>
                            <li><a href="/category/dailystruggle">Daily struggle</a></li>
                        </ul>

                    </li>
                </ul>
                <!--right align -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register">Sign in</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>

