{% extends 'base.html' %}

{% block mainContent %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ThreeSquareGag</h1>
            <p class="lead">Log-in and upload your funny memes</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    </div>
</div>

{{ name }}
<br>
{{ lastname }}
<br>
{{ year }}
<br>
{% for item in myList%}
{{ item }} <br>
{% endfor%}

<!--{% load static %}
<img src="{% static  "/sanders.jpeg" %}" alt="My image" width=400px/>
-->

{% endblock %}
