{% extends 'base.html' %}

{% block mainContent %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ThreeSquareGag</h1>
            <p class="lead">Log-in and upload your funny memes</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    </div>
</div>
    {% for post in posts %}
         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

<!--{% load static %}
<img src="{% static  "/sanders.jpeg" %}" alt="My image" width=400px/>
-->


{% endblock %}