{% extends 'base.html' %}

{% block mainContent %}
<h1>{{ title }}</h1>
<br>
<h2>{{ meme.title }}</h2>
<br>

<img src="{{ meme.image.url }}" alt="{{ meme.title }}" style="width:480px;">
<br>
<h5>{{meme.caption}}</h5>
<br>
<strong>{{ obj.liked.all.count }} likes</strong>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
    {% else %}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
    {% endif %}

</form>

<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}

    <blockquote class="blockquote">
      <p class="mb-0">{{ comment.content }} </p>
      <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst}}</cite></footer>

    </blockquote>
    {% endfor %}
</div>
{% endblock %}
