{% extends 'base.html' %}

{%block content2%}

<div class="row row-cols-1 row-cols-md-5">
    {% for obj in allProducts %}
    <div class="col mb-4">
        <div class="card">
          <img src="/static/meme_pic.jpeg" class="card-image-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href=/products/{{obj.id}}>{{obj.title }} </a>({{ obj.price }})</h5>
              <form action="{% url 'products:like-product'%}" method="POST" class=" ui form">
              {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{obj.id}}">
                  {% if user not in obj.liked.all %}
                        <button class="ui button positive" type="submit">Like</button>
                  {% else %}
                        <button class="ui button negative" type="submit">Unlike</button>
                  {% endif %}
              </form>
              <strong>{{ obj.liked.all.count }} likes</strong>
            <p class="card-text">{{obj.summary }}</p>
          </div>
        </div>
    </div>

    {% endfor%}
</div>

{% endblock %}
