{% extends 'base.html' %}

{% block mainContent %}
<h1>{{ title }}</h1>
<br>
{{ obj.title }}
<br>

<img src="/static/meme_pic.jpeg" class="card-image-top" alt="...">
<br>
{{obj.description}}
<br>
<strong>{{ obj.liked.all.count }} likes</strong>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
    {% else %}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
    {% endif %}

</form>

<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}

    <blockquote class="blockquote">
      <p class="mb-0">{{ comment.content }} </p>
      <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst}}</cite></footer>

    </blockquote>
    {% endfor %}
</div>
{% endblock %}
